.speech
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

.stage-direction
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
    background-color: cadetblue;
}

.name
{
    font-family: cursive;
    font-size: small;
    color: black;
}

.stage-direction:hover
{
    background-color: #00FF7F;
    color: coral;
}

.char1
{
    color: darkblue;
}

.char2
{
    color: darkorange;
}

.char3
{
    color: deeppink;
}

table ,th ,td
            {
                border: 1px solid black;
                border-collapse: collapse;
                
                margin: .5em;
                padding: .4em;
                color: black;
                text-align: center;
            }

            tr:nth-child(even)
            {
                background-color: #00FFFF;
            }

            .p1:hover
{
    color: burlywood;
    text-shadow: 1px 1px 3px greenyellow;
}
